// The vdl.config file for the standard time package configures idiomatic native
// types in each generated language.
config = vdltool.Config{
	Go: {
		WireToNativeTypes: {
			// VDL type time.Duration is represented as Go time.Duration.
			"Duration": {
				Type:    "time.Duration",
				Imports: {{Path: "time", Name: "time"}},
			},
			// VDL type time.Time is represented as Go time.Time.
			"Time": {
				Type:    "time.Time",
				Imports: {{Path: "time", Name: "time"}},
			},
		},
	},
	// TODO(toddw): Add native type support for Java and Javascript.
}
