// The vdl.config file for the standard time package configures idiomatic native
// types in each generated language.
config = vdltool.Config{
	Go: {
		NativeTypes: {
			{
				// VDL type time.Duration is represented as Go time.Duration.
				WireType:    "Duration",
				NativeType: "time.Duration",
				Imports:    {"time"},
			},
			{
				// VDL type time.Time is represented as Go time.Time.
				WireType:    "Time",
				NativeType: "time.Time",
				Imports:    {"time"},
			},
		},
	},
	// TODO(toddw): Add native type support for Java and Javascript.
}
