// The vdl.config file for the standard time package configures idiomatic native
// types in each generated language.
config = vdltool.Config{
	Go: {
		WireToNativeTypes: {
			"Complex128": {
				Type:    "complex128",
				Imports: {},
			},
			"Complex64": {
                Type:    "complex64",
                Imports: {},
            },
		},
	},
}
